.turnCounter {
    position: fixed;
    top: 0px;
    right: 0px;
    border-bottom-left-radius: 5px;
    background-color: #2ecc71;
    padding: 5px;
    z-index: 100;
    font-size: 0.8em;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.activeCard {
    background-color: #D2D0CC;
    color: black;
    height: 300px;
    width: 300px;
    margin: 30px auto;
    border-radius: 20px;
    position: relative;
    font-weight: 700;
    margin-bottom: 300px;
    box-shadow: 5px 5px 0px #f39c12;
    border: 1px solid black;
}

.activeCardText {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.cardsHand {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 230px;
    padding: 5px 0px;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-top: 1px solid black;
}

.handHeader {
    position: fixed;
    bottom: 230px;
    left: 0px;
    padding: 5px;
    background-color: #2ecc71;
    border-top-right-radius: 5px;
    font-weight: 300;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.playerCard {
    background-color: #D2D0CC;
    color: black;
    height: 200px;
    border-radius: 10px;
    position: relative;
    margin: 5px 10px;
    flex: 0 0 150px;
    box-shadow: 5px 5px 0px #9b59b6;
    border: 1px solid black;
    cursor: pointer;
    overflow: hidden;
}

.playerCardText {
    height: 100%;
    font-size: 0.8em;
}

.selectedCard {
    height: 100%;
}

.cardsHandPlaceholder {
    width: 100%;
    margin: 90px 0px;
}

.selectedCardNo, .selectedCardYes {
    height: 50%;
    position: relative;
    color: white;    
}

.selectedCardNo {
    background-color: #e74c3c;
}

.selectedCardYes {
    background-color: #3498db;
}

.selectedCardText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}