@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Comfortaa:wght@300;400;700&family=Lemonada:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #10161C; */
  color: white;
  font-size: 30px;
  font-family: 'Comfortaa', cursive;
  
  /* background style taken from https://codepen.io/lynnandtonic/pen/yLLeymm */
  background-color: #1c1c1c;
  background-image: linear-gradient(45deg, #000, #000 0.5%, #161616 0.5%, #161616 7.6%, #000 7.6%, #000 8.642857143%, #141414 8.642857143%, #141414 15.64285714%, #000 15.64285714%, #000 16.88571429%, #111111 16.88571429%, #111111 23.84285714%, #000 23.84285714%, #000 25%, transparent 25%), linear-gradient(-45deg, #000, #000 0.5%, #161616 0.5%, #161616 7.6%, #000 7.6%, #000 8.642857143%, #141414 8.642857143%, #141414 15.64285714%, #000 15.64285714%, #000 16.88571429%, #111111 16.88571429%, #111111 23.84285714%, #000 23.84285714%, #000 25%, transparent 25%), linear-gradient(45deg, transparent 73.85714286%, #000 73.85714286%, #000 75%, transparent 75%), linear-gradient(-45deg, transparent 73.85714286%, #000 73.85714286%, #000 75%, transparent 75%), linear-gradient(45deg, transparent 66.85714286%, #111111 66.85714286%, #111111 73.85714286%, transparent 73.85714286%), linear-gradient(-45deg, transparent 66.85714286%, #111111 66.85714286%, #111111 73.85714286%, transparent 73.85714286%), linear-gradient(45deg, transparent 65.71428571%, #000 65.71428571%, #000 66.85714286%, transparent 66.85714286%), linear-gradient(-45deg, transparent 65.71428571%, #000 65.71428571%, #000 66.85714286%, transparent 66.85714286%), linear-gradient(45deg, transparent 58.71428571%, #141414 58.71428571%, #141414 65.71428571%, transparent 65.71428571%), linear-gradient(-45deg, transparent 58.71428571%, #141414 58.71428571%, #141414 65.71428571%, transparent 65.71428571%), linear-gradient(45deg, transparent 57.57142857%, #000 57.57142857%, #000 58.71428571%, transparent 58.71428571%), linear-gradient(-45deg, transparent 57.57142857%, #000 57.57142857%, #000 58.71428571%, transparent 58.71428571%), linear-gradient(45deg, transparent 50.57142857%, #161616 50.57142857%, #161616 57.57142857%, transparent 57.57142857%), linear-gradient(-45deg, transparent 50.57142857%, #161616 50.57142857%, #161616 57.57142857%, transparent 57.57142857%), linear-gradient(45deg, transparent 49.42857143%, #000 49.42857143%, #000 50.57142857%, transparent 50.57142857%), linear-gradient(-45deg, transparent 49.42857143%, #000 49.42857143%, #000 50.57142857%, transparent 50.57142857%), linear-gradient(45deg, transparent 42.42857143%, #181818 42.42857143%, #181818 49.42857143%, transparent 49.42857143%), linear-gradient(-45deg, transparent 42.42857143%, #181818 42.42857143%, #181818 49.42857143%, transparent 49.42857143%), linear-gradient(45deg, transparent 41.28571429%, #000 41.28571429%, #000 42.42857143%, transparent 42.42857143%), linear-gradient(-45deg, transparent 41.28571429%, #000 41.28571429%, #000 42.42857143%, transparent 42.42857143%), linear-gradient(45deg, transparent 34.28571429%, #1a1a1a 34.28571429%, #1a1a1a 41.28571429%, transparent 41.28571429%), linear-gradient(-45deg, transparent 34.28571429%, #1a1a1a 34.28571429%, #1a1a1a 41.28571429%, transparent 41.28571429%), linear-gradient(45deg, transparent 33.142857143%, #000 33.142857143%, #000 34.28571429%, transparent 34.28571429%), linear-gradient(-45deg, transparent 33.142857143%, #000 33.142857143%, #000 34.28571429%, transparent 34.28571429%);
  background-size: 100px 100px;

  /* background style taken from https://codepen.io/edmundojr/pen/xOYJGw */
  /* background: linear-gradient(90deg, #10161C 21px, transparent 1%) center, linear-gradient(#10161C 21px, #ccc 1%) center, #a799cc;
  background-size: 22px 22px; */
}

h1, h2, h3, h4, h5 {
  font-family: 'Bungee Outline', cursive;
  text-shadow: 3px -3px #e74c3c, -3px 3px #3498db;
}

p {
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 10px 30px;
  margin: 10px;
  border: 2px solid #FFE57B;
  /* box-shadow: 0px 0px 5px #A3FF53; */
  background-color: transparent;
  color: #FFE57B;
  border-radius: 5px;
  font-size: 30px;
  font-family: 'Lemonada', cursive;
  font-weight: 700;
  width: calc(100% - 20px);
  cursor: pointer;
  transition: 0.3s;
  backdrop-filter: blur(10px);  
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 10px #FFE57B;
}

input {
    font-size: 30px;
    margin: 10px;
    padding: 10px 30px;
    text-align: center;
    border: 2px solid #A3FF53;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    width: calc(100% - 20px);
    box-sizing: border-box;
    backdrop-filter: blur(10px);    
}

input:focus {
    outline: none;  
}

.redText {
    color: #e74c3c;
}

.blurredBackground {
  background-color: rgba(255,255,255,0.1);
  padding: 10px 0px;
  margin: 20px 0px;
  backdrop-filter: blur(10px);  
}